<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVK6GdSYdRzOAvmnc4uRj0bRLZH_3Q-9A</string>
	<key>GCM_SENDER_ID</key>
	<string>299024357634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aiebookapp</string>
	<key>PROJECT_ID</key>
	<string>a-i-ebook-app-nth7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>a-i-ebook-app-nth7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299024357634:ios:db3ffb61138bf80eaaca1b</string>
	<key>DATABASE_URL</key>
	<string>https://a-i-ebook-app-nth7ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>