<!DOCTYPE html>
<html lang="en">
	<head><base href=""/>
		<title>E-Book</title>
		<meta charset="utf-8" />
		<meta name="description" content="E-Book - Digital Book Management System" />
		<meta name="keywords" content="ebook, digital books, book management, admin dashboard" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="E-Book - Digital Book Management System" />
		<meta property="og:site_name" content="E-Book" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.png" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		
		<!-- Global Styles -->
		<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/toastr.min.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/richtext.min.css" rel="stylesheet" type="text/css" />
		
		<!-- DataTables & Quill -->
		<link href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.dataTables.min.css" rel="stylesheet" type="text/css"/>
		<link href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css" rel="stylesheet" type="text/css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.1/quill.snow.css" rel="stylesheet" type="text/css"/>
	</head>